.head {
    background-image: url(images/backgrounds/h_img.jpg);

    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 100px;
    color: white;


}
.service {

    background-image: url(/images/backgrounds/s_image.jpg);
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
    text-align: center;
    background-position: center;
    height: 350px;
    padding-top: 150px;

}
.mouse {
    margin: 100px;
}

.about {
    padding-top: 30px;
}
.image {

    display: flex;
    padding-top: 60px;

}

.title {
    align-items: center;
    padding-top: 50px;
}

.pic {
    padding-bottom: 10px;
}

.cont1 {
    display: flex;
}

.pictures {
    padding-top: 40px;
    margin: 30px;
}
.cont3 {
    display: flex;
    margin: 20px;
    
}

#design-p {
    display: none;
}

#develop {
    display: none;
}

#product {
    display: none;
}

.form {

    padding-top: 60px;
    text-align: center;
    background-image: url(/images/backgrounds/c_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    color: white;
    position: relative;
    


}
.part {
    display: flex;
    margin: 60px;
}
#name{
    height: 25px;
    width: 400px;
    margin-right: 10%;
}
#email{
    height: 25px;
    width: 400px;
    margin-left: 20%;
    margin-top: -2%;

    
}
#message {
    height: 100px;
    width: 500px;
    margin-right: 80px;
    


}
button {
    margin-right: 300px;

}
.footer {
    text-align: center;

    padding-top: 50px;

}
.one:hover{ 
    opacity: 0.5;
}

.two:hover{
    opacity: 0.3
}
.three:hover {

 opacity: 0.3
}
.four:hover {
    opacity: 0.3
}
.five:hover {
    opacity: 0.3
}
.six:hover{
    opacity: 0.3
}
.seven:hover {
    opacity: 0.3}
.eight:hover{ 
    opacity: 0.3
}



#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight {
    display: none;
    box-shadow: grey;
    padding-top: 20px;
    margin-top: 40px;
    top: 10px;
    left: 35px;
    right: 7px;
    color: white;
    position: absolute;
    border:solid




}


